main {
    width: 25%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

:host {
    display: block;
    margin-top: 1rem;
  }
  
  mat-form-field,
  textarea {
    width: 100%;
    text-align: center;
  }
  
  mat-spinner {
    margin: auto;
  }

  h2 {text-align:center;}

  button{
    margin-right: 10px;
    margin-left: 10px;
  }