mat-form-field,
  textarea {
    width: 25%;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
  }

  .query-card{
    width: 50%;
    margin: auto;
    margin-top: 50px;
  }
  
  mat-spinner {
    margin: auto;
  }

  mat-card-title{
    justify-content: center;
  }

  button{
      width: 15%;
      margin-left: 20px;
  }

  h2 {text-align:center;}

  